* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background-color: #1E1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
body .mob-max-node {
  background: url("/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100svh;
  width: 100%;
  max-width: 26rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
}
body .mob-max-node .greeting-header {
  width: 100%;
  height: 40svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 40px;
}
body .mob-max-node .greeting-header h2 {
  color: #fff;
  font-weight: 100;
  font-family: var(--font-spartan);
}
body .mob-max-node .greeting-header p {
  color: #D1D1D1;
  font-family: var(--font-inter);
  font-size: 12px;
}
body .mob-max-node .tasbeeh {
  height: 60svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 0;
}
body .mob-max-node .tasbeeh .tap-center-x {
  border: 1px solid #00ff9d;
  padding: 20px;
  border-radius: 100px 100px 0 0;
  border-bottom: 1px solid transparent;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
body .mob-max-node .tasbeeh .tap-center-x .tasbeeh-holder .tasbeeh-btn {
  transition: 0.03s ease;
  border-radius: 100px;
  height: 120px;
  font-family: var(--font-lancelot);
  width: 120px;
  background-color: #00ff9d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  color: #1E1E1E;
  font-size: 50px;
}
body .mob-max-node .tasbeeh .tap-center-x .options-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
  height: 100%;
}
body .mob-max-node .tasbeeh .tap-center-x .options-holder .opt-btn {
  transition: 1s ease;
  background-color: #292929;
  padding: 10px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
body .mob-max-node .tasbeeh .tap-center-x .options-holder .opt-btn svg {
  fill: none;
  stroke: #B9B9B9;
  stroke-linejoin: round;
  stroke-linecap: round;
  height: 16px;
  width: 16px;
  stroke-width: 1px;
}
body .mob-max-node .tasbeeh .tap-x-node {
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 20px 10px;
  scroll-snap-type: x mandatory;
  height: 170px;
}
body .mob-max-node .tasbeeh .tap-x-node::-webkit-scrollbar {
  height: 0;
}
body .mob-max-node .tasbeeh .tap-x-node .before-holder {
  scroll-snap-align: center;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
body .mob-max-node .tasbeeh .tap-x-node .before-holder .tasbeeh-holder .tasbeeh-btn {
  border-radius: 100px;
  height: 30px;
  font-family: var(--font-spartan);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  font-size: 8px;
  width: 30px;
  background-color: #00ff9d;
}
body .mob-max-node .tasbeeh .tap-x-node .before-holder .tasbeeh-holder .tasbeeh-btn .left {
  display: none;
}
body .mob-max-node .tasbeeh .x-reverse {
  flex-direction: row-reverse !important;
}
body .mob-max-node .tasbeeh .x-reverse .before-holder .tasbeeh-holder .tasbeeh-btn .right {
  display: none;
}
body .mob-max-node .tasbeeh .x-reverse .before-holder .tasbeeh-holder .tasbeeh-btn .left {
  display: block;
}/*# sourceMappingURL=globals.css.map */